
/* --- Minecraft Item Rendering --- */

.mc-inv-slot {
    position: relative;
}

.mc-item-flat img, .mc-item-check-3d img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    padding: 2px;
}

/* 3D Block Simulation */
.mc-item-check-3d {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(45deg);
}

.mc-item-check-3d img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #555;
    transform: translateZ(16px);
    box-shadow: 
        -16px 16px 0px -2px rgba(0,0,0,0.4),
        -16px 16px 0px 0px rgba(0,0,0,0.2);
}

.mc-item-check-3d {
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mc-item-check-3d img {
    transform: scale(0.7) rotate(45deg); 
    box-shadow: 
        -2px 2px 0 #3a3a3a, 
        -4px 4px 0 #2b2b2b,
        -6px 6px 0 #1f1f1f;
}
